@import 'utils/fonts'
@import 'bootstrap/bootstrap'

body
	padding-top 60px
	padding-bottom 40px

.sidebar-nav
	padding 9px 0

.navbar .brand
	font-family 'ComicZineOTRegular'
	font-size 25px

.navbar-inner
	span
		display block
		margin-top 4px
	i
		cursor pointer
		margin-top 8px

	input
		margin 0

	.login-nav
		margin-top 3px

	#form-login
		li
			margin-left 10px

//@import 'bootstrap/responsive'