header
div(role='main')
	#users
	#board
	#container
		article#alert.box_login
		aritcle.box_login.drag
			form#form(method='post')
				p
					input.rounded#user(value=user, required)
				p
					input.rounded#password(value=user, type='password', required)
				p
					#loading
					input.rounded#buttom(type='submit', value='login')
footer