<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>party us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<video class="bg-container" autoplay="autoplay" poster="http://add-videotowebsite.com/data/images/screen.jpg" onclick="if(/Android/.test(navigator.userAgent))this.play();">
			<source src="http://add-videotowebsite.com/data/images/happyfit2.mp4">
			<source src="http://add-videotowebsite.com/data/images/happyfit2.mp4" type="video/mp4">
			<source src="http://add-videotowebsite.com/data/images/happyfit2.webm" type="video/webm">
			<source src="http://add-videotowebsite.com/data/images/happyfit2.ogv" type="video/ogg">
			<object type="application/x-shockwave-flash" data="http://add-videotowebsite.com/data/images/flashfox.swf" width="592px" height="252px">
				<param name="movie" value="http://add-videotowebsite.com/ata/images/flashfox.swf">
				<param name="allowFullScreen" value="true">
				<param name="wmode" value="transparent">
				<param name="flashVars" value="autoplay=true&amp;controls=true&amp;poster=http://add-videotowebsite.com/data/images/happyfit2.jpg&amp;src=happyfit2.mp4">
				<embed src="http://add-videotowebsite.com/data/images/flashfox.swf" width="592px" height="252px" flashvars="autoplay=true&amp;controls=true&amp;poster=http://add-videotowebsite.com/data/images/screen.jpg&amp;src=happyfit2.mp4" allowfullscreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en">
				<img alt="happyfit2" src="http://add-videotowebsite.com/data/images/screen.jpg" width="592" height="252" title="Video playback is not supported by your browser">
			</object>
		</video>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">party us</a>
					<div class="nav-collapse">
						<div class="pull-right">
							<ul class="nav login-nav">
								<li><i id="icon-login" class="icon-user" rel="tooltip" data-original-title="sign in"></i></li>
								<li id="form-login" style="display: none;">
									<ul class="nav">
										<li><input id="form-login-user" type="text" placeholder="Username" name="username"></li>
										<li><input id="form-login-pass" type="password" placeholder="Password" name="password"></li>
										<li><button id="btn-login" class="btn btn-primary">Login</button></li>
									</ul>
								</li>
								<li id="in-login" style="display: none;">
									<span>welcome <a href="#"></a>
									<i id="icon-off" class="icon-off" rel="tooltip" data-original-title="logout"></i>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		{% block content %}
		{% endblock content %}

	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/lib/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
	<script>
		$('#icon-login').on('click', function () {
			$('#form-login').toggle("slide",{direction: 'right'});
		});

		$.each($('i[rel="tooltip"]'), function(key, element) { 
				$(element).tooltip({
					placement: 'bottom',
					delay: {
						hide: 250
					}
				});
		});

		$('#btn-login').on('click', function  () {
			event.preventDefault();
			$.post('/login/', {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				username: document.getElementById('form-login-user').value,
				password: document.getElementById('form-login-pass').value
			},
			function(data) {
				//console.log(data);
				if(data['msg']=='USER_LOGIN_OK')
					$('#form-login').hide("slide",{direction: 'right'}, null, function() {
						$('#icon-login').remove();
						$('#form-login').remove();
						$('#in-login a').text(data['user']);
						$('#in-login').show("slide",{direction: 'right'});
					});
			});
		});

		$('#icon-off').on('click', function  () {
			event.preventDefault();
			$.post('/logout/', {
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			function(data) {
				console.log(data);
			});
		});		
	</script>
	{% block specific_javascript %}
	{% endblock specific_javascript %}
	</body>
</html>
